.gallery-list {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

/* https://smolcss.dev/#smol-flexbox-grid */
.smol-flexbox-grid {
    --min: 15ch;
    --gap: 1rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.smol-flexbox-grid > * {
    flex: 1 1 var(--min);
}

/* https://smolcss.dev/#smol-aspect-ratio-gallery */
.smol-aspect-ratio-gallery {
    --min: 15rem;
    --aspect-ratio: 4/3;
    --gap: 0;
}

.smol-aspect-ratio-gallery li {
    height: max(25vh, 15rem);
}

@supports (aspect-ratio: 1) {
    .smol-aspect-ratio-gallery li {
        aspect-ratio: var(--aspect-ratio);
        height: auto;
    }
}

.smol-aspect-ratio-gallery {
    picture {
        display: inline;

        &> img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
