:root {
    --fluid-min-width: 320px;
    --fluid-mid-width: 666px;
    --fluid-max-width: 1140px;

    --step--2: clamp(0.74rem, calc(0.7rem + 0.21vw), 0.84rem);
    --step--1: clamp(0.98rem, calc(0.93rem + 0.27vw), 1.13rem);
    --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
    --step-1: clamp(1.75rem, calc(1.65rem + 0.49vw), 2rem);
    --step-2: clamp(2.33rem, calc(2.2rem + 0.65vw), 2.67rem);
    --step-3: clamp(3.11rem, calc(2.94rem + 0.87vw), 3.55rem);
    --step-4: clamp(4.14rem, calc(3.91rem + 1.16vw), 4.74rem);
    --step-5: clamp(5.52rem, calc(5.22rem + 1.54vw), 6.31rem);
}

.container {
    width: min(var(--fluid-mid-width), 100vw - var(--step-1));
    margin-inline: auto;
}